<!--<p-confirmPopup></p-confirmPopup>-->


<div class="form">
  <form #productForm>
    <div >
      <label for="title">Title:</label>
      <input #title   (input)="onTitlChange(title.value)" type="text" class="form-control" id="title" placeholder="Enter title" name="title">
    </div>
    <div >
      <label for="price">Price:</label>
      <input #price  (input)="onpricrChange(price.value)" type="number" class="form-control" id="price" placeholder="Enter price" name="price">
    </div>



    <div>
      <label for="image">Image:</label>
      <input #image type="text" (input)="onimgChange(image.value)" class="form-control" id="image" placeholder="Enter image" name="image">
    </div>


    <div >
      <label for="category">Category:</label>
      <input #category  (input)="onCategoryChange(category.value)" type="text" class="form-control" id="category" placeholder="Enter category" name="category">
    </div>

    <div >
      <label for="description">Description:</label>
      <textarea #desc   (input)="onDecr(desc.value)" type="text" class="form-control" id="description" placeholder="Enter description" name="description"></textarea>
    </div>


    <button  type="submit" (click)="AddProduct($event)" class="btn btn-primary">Submit</button>
  </form>

</div>
